name: RDP_HACKER_VM
on:
  repository_dispatch:
    types: [start-sshx] # Phải khớp với event_type trong server.js

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: System Initialization
        run: |
          echo ">>> INITIALIZING HACKER TERMINAL..."
          echo ">>> TARGET_USER: ${{ github.event.client_payload.username }}"
          sudo apt-get update
          
      - name: Setup SSHX (Terminal Web)
        run: |
          # Cài đặt sshx - một công cụ tạo link SSH/Terminal cực nhanh
          curl -sSf https://sshx.io/get | sh
          
          # Chạy sshx và lấy link
          # Chúng ta sẽ chạy trong 4 tiếng (14400 giây) theo yêu cầu của bạn
          timeout 4h sshx
